#inner-container {
  position: relative;
  background-color: #292b2c;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

#inner-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-family: 'Gobold'
}

#inner-text {
  text-align: justify;
  font-size: 1.2em;
  padding: 16px;
}

@media only screen and (max-width: 992px) {
  #inner-title {
    font-size: 2em;
  }

  #inner-text {
    text-align: justify;
    font-size: 1em;
    padding: 16px;
  }
}

@media only screen and (max-width: 768px) {
  #inner-title {
    text-align: center;
    font-size: 2em;
  }

  #inner-text {
    text-align: justify;
    font-size: 1em;
    padding: 16px;
  }
}
